<div class="hero-slideshow">
  <div class="hero-slide"><img src="/img/homepage_slideshow/2.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/3.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/4.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/5.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/6.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/7.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/8.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/9.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/10.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/11.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/12.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/13.jpg" alt=""></div>
</div>
