<div class="hero-slideshow">
  <div class="hero-slide hero-slide--gif" style="background-image: url('/img/homepage_slideshow/__gif_kentucky_spe.gif');"></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/1773713059538.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240621_085007.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240621_093417.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240623_090147.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240624_093357.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240624_093510.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240624_093728.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240624_093740.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/20240704_175901.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/284699_2154930388775_6633543_n.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/GOPR0467.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_0258.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_0472.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_0517.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_0637.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_1015.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_1069.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_1347.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_20240517_135312.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_2538.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_3360.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_3478.jpg" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_3895.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_4235.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_4566.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/IMG_6700.JPG" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%2012.40.45%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%2012.42.18%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%2012.48.01%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.00.17%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.01.20%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.02.28%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.04.17%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.04.35%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.06.58%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.07.25%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.08.42%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.08.56%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.10.24%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.11.05%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.11.31%20PM.png" alt=""></div>
  <div class="hero-slide"><img src="/img/homepage_slideshow/Screenshot%202026-03-21%20at%202.12.38%20PM.png" alt=""></div>
</div>
