<div class="hero-slideshow">
  <div class="hero-slide"><img src="/img/cover.jpg" alt="Photo 1"></div>
  <div class="hero-slide"><img src="/img/assets/Media/296777379_6177667138926675_6039422591421053210_n.jpg" alt="Photo 2"></div>
  <div class="hero-slide"><img src="/img/assets/Media/297473891_6177667065593349_2454509656965629391_n.jpg" alt="Photo 3"></div>
  <div class="hero-slide"><img src="/img/assets/Media/FB_IMG_1636990859745.jpg" alt="Photo 4"></div>
</div>
