{% if page.url == "/i-curriculum-vitae/" %}
<div class="hero-slideshow">
  <div class="hero-slide hero-slide--gif hero-slide--gif-only" style="background-image: url('/img/homepage_slideshow/_gif_1.gif');"></div>
</div>
{% endif %}
